$color-text-on-background: white;
$background-color-header: rgb(51, 13, 3);
$background-color-footer: rgb(6, 48, 69);

body {
    background-color: rgb(241, 241, 241);
}
header .navbar {
    background-color: $background-color-header;
}
header {
    background-color: $background-color-header;
    color: $color-text-on-background;
    padding-bottom: 8em;
}
.navbar-default .navbar-nav > li > a {
    color: $color-text-on-background;
}
.navbar {
    border: none;
}
h1, .btn {
    text-transform: uppercase;
}
.btn {
    background-color: rgb(177, 125, 37);
    border-color: rgb(177, 125, 37);
    padding: 1em 2em;
}
h1, header p {
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
}
h1 {
    margin-top: 3.5em;
}
header p {
    font-size: 3em;
    margin: 1em 0;
}
h2 {
    font-family: 'Lora', serif;
    margin: 2em;
    text-align: center;
}
li {
    list-style: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
article {
    margin: 1em 0;
    padding: 0.3em;
    background-color: white;
    box-shadow: 0.5em 0.5em 0.2em lightgrey;
}
.buy{
    color: rgb(149, 118, 63);
    font-weight: bolder;
}
.onSale {
    color: yellow;
    font-weight: bolder;
}
.status {
    color: grey;
    font-weight: bolder;
}

.price {
    font-weight: bolder;
    color:black;
}
.product {
    color:black;
}
footer {
    background-color: $background-color-footer;
    color: $color-text-on-background;
}
#boutonok {
    background-color: $background-color-footer;
    border-color: $color-text-on-background;
    padding: 0.3em 1em;
    border-radius: 5px;
}
